@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    font-family: Raleway;
}
:root {
    --black: #000;
    --white: #fff;
    --whites: #edebd9;
    --green: #63c348;
}
.dark {
    --black: #fff;
    --white: #24262b;
    --whites: #00010a;
    --green: #457e36;
}
body {
    background-color: var(--white);
    transition: 0.3s;
}
header {
    width: 100%;
    overflow: hidden;
    background-color: var(--whites);
    transition: 0.3s;
}
.hidden {
    display: none;
    transition: 0.3s;
    z-index: -100;
}
.box {
    float: left;
    margin: 20px;
    color: var(--black);
    cursor: pointer;
    transition: 0.3s;
}
.hum, .hummer {
    font-size: 40px;
}
.title {
    margin: 20px;
    float: left;
    transition: 0.3s;
}
.title_h1 {
    color: var(--black);
    font-weight: bold;
}
.title_h1 span {
    color: var(--green);
}
.mode {
    float: right;
    margin: 20px;
    color: var(--black);
    cursor: pointer;
    transition: 0.3s;
}
.darki, .lighti {
    font-size: 40px;
}
.secret {
    transition: 0.3s;
    margin-left: -100%;
}
.nav {
    width: 25%;
    height: 90vh;
    background-color: var(--whites);
    box-shadow: 1px 1px 10px 1px var(--whites);
    transition: 0.3s;
    z-index: 99;
    position: fixed;
}
.ul li {
    padding: 10px 50px;
    /* border: 2px solid var(--white); */
}
.ul li a {
    font-weight: bold;
    color: var(--black);
    text-align: center;
}
.ul li:hover {
    border: 2px solid var(--black);
}
.loader {
    position: fixed;
    z-index: 100;
}
iframe {
    width: 46%;
    height: 70vh;
    margin: 2%;
    float: left;
    box-shadow: 1px 1px 15px 1px var(--whites);
}
@media (max-width: 870px) {
    .nav {
        width: 35%;
    }
}
@media (max-width: 700px) {
    iframe {
        width: 80%;
        margin: 5% 10%;
    }
}
@media (max-width: 550px) {
    .nav {
        width: 45%;
    }
}
@media (max-width: 430px) {
    .nav {
        width: 45%;
    }
    .box {
        margin: 15px;
    }
    .hum, .hummer {
        font-size: 30px;
    }
    .title {
        margin: 10px;
        float: left;
        transition: 0.3s;
        font-size: 17px;
    }
    .mode {
        margin: 15px;
    }
    .darki, .lighti {
        font-size: 30px;
    }
}
@media (max-width: 380px) {
    .nav {
        width: 50%;
        height: 92vh;
    }
    .box {
        margin: 10px;
    }
    .hum, .hummer {
        font-size: 25px;
    }
    .title {
        margin: 8px;
        font-size: 13px;
    }
    .mode {
        margin: 10px;
    }
    .darki, .lighti {
        font-size: 25px;
    }
}
/* Prepered by Habibulloh */